body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #222;
}

#announcements .card {
    background: #333;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}